PORT=3000
PALPLUSS_AUTH=cHBfbGl2ZV83NDQ3OWUxMmM5MDI5MWI0N2Y3NzMxODFmODY2NDBiNGJiMTM5MmE0MmVjY2MyOTE6
CALLBACK_URL=https://your-app.onrender.com/webhooks/mpesa
API_KEY=pp_live_74479e12c90291b47f773181f86640b4bb1392a42eccc291
